@model IEnumerable<Tasks.Read.Models.ContextReadModel>

@{ Layout = null; }

@foreach (var context in Model)
{
    <li>@Html.ActionLink(context.Name, "Index", new { id = context.Name })</li>
}

<li>@Html.ActionLink("+", "Create")</li>
